option_settings:
    aws:elasticbeanstalk:application:environment:
        PYTHONPATH: "/var/app/current:$PYTHONPATH"

        DJANGO_SETTINGS_MODULE: "config.settings.production"
        DJANGO_AWS_STORAGE_BUCKET_NAME: ""
        DJANGO_ALLOWED_HOSTS: "*"
        DJANGO_ADMIN_URL: "admin/"

        REDIS_URL: ""
        SENTRY_DSN: ""
