{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <style>
    /* Django Jet */
    h1#site-name a {
      font-size: 1.5em;
      font-weight: 900;
      color: #E82639 !important;
    }

    td.field-memo_tm {
      font-size: 1.1em;
    }

    textarea.vLargeTextField {
      font-size: 1.2em;
    }

      @media screen and (min-width: 768px) {
    ul.changeform-tabs {
      display: none !important;
    }
    form fieldset.module {
      display: block !important;
      border-radius: 12px !important;
    }

    form .js-inline-admin-formset.inline-group {
      display: block !important;
      margin-top: 21px;
      border-radius: 12px !important;
      overflow: hidden;
    }

    .changeform-tabs ~ .module, .changeform-tabs ~ .inline-group {
      display: block !important;
      margin-top: 21px;
      border-radius: 12px !important;
      overflow: hidden;
    }
  }

  </style>
{% endblock %}
